#trainData th,
td {
  display: inline-block;
  width: 16.66%;
}

.jumbotron , .card-header{
    background-color: brown; 
    color: white;
}

.btn , .btn-primary{
    background-color: brown;
    color: white;
    border-style: solid;
    border-color: brown;
}

td{
    display: table-cell;
}

#clock{
    text-align: center;
}

#remove{
    width: 5%;
}
button{
    margin-left: 30%;
}